.jumbotron
{
  background: url('../img/home_bg.png') no-repeat top left fixed;
  background-size: cover;
  color: white;
}

.jumbotron h1
{
  letter-spacing: -3px;
}

.snippet-box
{
  margin-bottom: 10px;
  min-height: 110px;
}

.snippet-box h3
{
  margin-top: 0;
}

textarea.snippet 
{  
  font-family: "Courier";  
}

.comment-box
{
  padding: 10px 0;
  overflow: auto;
}

.comment-box:nth-child(odd)
{
  background: rgba(28,120,220,.1);
}

.comment-box blockquote
{
  font-size: 0.9em;
}

.comment-box code
{
  white-space: pre-line;
}

.comment-form 
{
  margin-bottom: 20px;
}

abbr
{
  font-style: italic;
}

img.img-profile
{
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 10px
}

.votelink, .score
{
  font-family: Courier, serif;
  font-size: 1.2em;
}

.votelink:hover
{
  cursor: text;
  color: #2780e3;
}

.dark
{
  color: #333;
}

.dark:hover
{
  cursor: pointer;
  color: #2780e3;
}
