body
{
  padding-top: 50px;
  padding-bottom: 20px;
}

.wow
{
  visibility: hidden;
}

.jumbotron
{
  background: url('../img/home_bg.png') no-repeat top left fixed;
  background-size: cover;
  color: white;
}

.jumbotron h1
{
  letter-spacing: -3px;
}

.snippet-box
{
  margin-bottom: 10px;
  min-height: 110px;
}

.snippet-box h3
{
  margin-top: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

textarea.snippet 
{  
  font-family: "Courier";  
}

.comment-box
{
  padding: 10px 0;
  overflow: auto;
}

.comment-box:nth-child(odd)
{
  background: rgba(28,120,220,.1);
}

.comment-box blockquote
{
  font-size: 0.9em;
}

.comment-box code
{
  white-space: pre-line;
}

.comment-form 
{
  margin-bottom: 20px;
}

abbr
{
  font-style: italic;
}

img.img-profile
{
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 10px
}

.score
{
  margin-top: 21px;
  margin-bottom:10.5px;
  line-height: 1.1;
  font-size: 39px;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-weight: 300;
}

.votelink:hover
{
  cursor: text;
  color: #2780e3;
}

.dark
{
  color: #999;
}

.dark:hover
{
  cursor: pointer;
  color: #2780e3;
}

.hidden
{
  position: absolute;
  left: -200em;
}

.toggle-visibility
{
  cursor: pointer;
  border-bottom: 1px dotted;
}

kbd
{
  color: #000;
  background: #eee;
  border-style: solid;
  border-color: #ccc #aaa #888 #bbb;
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  border-radius: 2px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

