body
{
  padding-top: 50px;
  padding-bottom: 20px;
}

a
{
  transition: all .2s ease-in;
}

a:hover, a:focus
{
  color: #17467b;
  text-decoration: none;
}

a.navbar-brand
{
  font-family: Courier, monospace;
}

.wow
{
  visibility: hidden;
}

.jumbotron
{
  background: url('../img/home_bg.png') no-repeat top left fixed;
  background-size: cover;
  color: white;
}

.jumbotron h1
{
  letter-spacing: -3px;
}

.snippet-box
{
  margin-bottom: 10px;
  min-height: 110px;
}

.snippet-box h3
{
  margin-top: 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

textarea.snippet 
{  
  font-family: "Courier";  
}

.comment-box
{
  padding: 10px 0;
  overflow: auto;
}

.comment-box:nth-child(odd)
{
  background: rgba(28,120,220,.1);
}

.comment-box blockquote
{
  font-size: 0.9em;
}

/* block code */
.comment-box code
{
  display: block;
  white-space: pre;
  overflow: auto;
}

/* inline code */
.comment-box p code
{
  display: inline;
  white-space: pre-line;
}

.comment-form 
{
  margin-bottom: 20px;
}

abbr
{
  font-style: italic;
}

img.img-profile
{
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 10px;
  margin-bottom: 25px;
}

img.rounded
{
    border: 5px solid #ddd;
    border-radius: 5em;
}

.score
{
  margin-top: 21px;
  margin-bottom:10.5px;
  line-height: 1.1;
  font-size: 39px;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-weight: 300;
}

.votelink:hover
{
  cursor: text;
  color: #2780e3;
}

.dark
{
  color: #999;
}

.dark:hover
{
  cursor: pointer;
  color: #2780e3;
}

.hidden
{
  position: absolute;
  left: -200em;
}

.toggle-visibility
{
  cursor: pointer;
  border-bottom: 1px dotted;
}

kbd
{
  color: #000;
  background: #eee;
  border-style: solid;
  border-color: #ccc #aaa #888 #bbb;
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  border-radius: 2px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

.bootstrap-tagsinput
{
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  display: block;
  color: #333;
  vertical-align: middle;
  border-radius: 0px;
  max-width: 100%;
  cursor: text;
  padding: 10px 16px;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bootstrap-tagsinput.focus
{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.bootstrap-tagsinput input
{
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}

.bootstrap-tagsinput input:focus
{
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput .tag
{
  margin-right: 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]
{
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after
{
  content: "x";
  padding: 0px 2px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint
{
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
  display: none;
}

.tt-input
{
  width: auto;
}

.tt-dropdown-menu
{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.tt-suggestion > p
{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
}

.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p
{
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #1a6ecc;
}
